:root {
  --themeColor: #5a4edf;
  --themeColorDark: #4c41cc;
}
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: hsl(245deg 5% 16%);
  color: white;
}
a {
  color: var(--themeColor);
}