:root {
  --backgroundColor: #1f1f23;
  --secondaryBackgroundColor: hsl(245deg 5% 16%);
  --themeColor: hsl(230, 70%, 55%);
  --textColor: white;
  --secondaryTextColor: rgba(255, 255, 255, 0.5);
}
body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: var(--backgroundColor);
  color: var(--textColor);
}
a {
  color: var(--themeColor);
}