.content {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.title {
  margin-top: 4rem;
}

.section {
  margin: 3rem 0;
}

.sectionContent {
  margin-top: 1rem;
}

.openButton {
  display: block;
  background: var(--themeColor);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 1rem;
  border: 2px solid transparent;

  &:hover {
    opacity: 0.9;
  }
}
